.container {
    position: relative;
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
    z-index: 111;
    outline: 1px solid red;
}

.heading {
    color: rgb(227, 227, 227);
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
}

.nav {
    z-index: 111;
    outline: 5px solid rgb(12, 128, 55);
    position: absolute;
    top: 0;
}
/* .navContainer {
    z-index: 111;
    outline: 5px solid rgb(12, 128, 55);
} */

.links {
    display: flex;
    /* flex-direction: row;
    justify-content: center;
    align-items: center; */
    list-style: none;
    padding-left: 0;
    list-style: none;
}

.item {
    padding-right: 2rem;
}

.text {
    color: rgb(214, 188, 221);
}

.cover {
    z-index: 0;
}
